<form (ngSubmit)="onSubmit()" [formGroup]="acquisitionForm">
  <h2>{{ acquisitionToEdit ? 'Editar Adquisición' : 'Crear Adquisición' }}</h2>

  <div class="form-row">
    <!-- Columna 1 -->
    <div class="form-group">
      <label for="supplier">Proveedor:</label>
      <input type="text" id="provider" formControlName="supplier" placeholder="Proveedor" />
    </div>

    <div class="form-group">
      <label for="budget">Presupuesto:</label>
      <input type="number" id="budget" formControlName="budget" placeholder="Presupuesto disponible" />
    </div>

    <div class="form-group">
      <label for="unit">Unidad:</label>
      <input type="text" id="unit" formControlName="unit" placeholder="Unidad de medida" />
    </div>

    <div class="form-group">
      <label for="serviceType">Tipo de Bien o Servicio:</label>
      <input type="text" id="type" formControlName="serviceType" placeholder="Tipo de bien o servicio" />
    </div>

    <div class="form-group">
      <label for="quantity">Cantidad:</label>
      <input type="number" id="quantity" formControlName="quantity" placeholder="Cantidad de unidades" />
    </div>

    <div class="form-group">
      <label for="unitValue">Valor Unitario:</label>
      <input type="number" id="unitValue" formControlName="unitValue" placeholder="Valor unitario" />
    </div>

    <div class="form-group">
      <label for="totalValue">Valor Total:</label>
      <input type="number" id="totalValue" formControlName="totalValue" placeholder="Valor total" readonly />
    </div>

    <div class="form-group">
      <label for="acquisitionDate">Fecha de Adquisición:</label>
      <input type="date" id="acquisitionDate" formControlName="acquisitionDate" />
    </div>

    <!-- Documentación ocupa dos columnas -->
    <div class="form-group documentation-column">
      <label for="documentation">Documentación:</label>
      <input type="text" id="documentation" formControlName="documentation" placeholder="Documentación" />
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" [disabled]="!acquisitionForm.valid">
      {{ acquisitionToEdit ? 'Actualizar Adquisición' : 'Crear Adquisición' }}
    </button>
  </div>
</form>

